/*#region neutrals*/

/*#region dark-neutrals*/

$d900: #142645;
$d800: #172b4d;
$d700: #2e405f;
$d600: #455570;
$d550: #4b5f7f;
$d500: #5d6b82;

/*#endregion dark-neutrals*/

/*#region mid-neutrals*/

$n400: #67748b;
$n300: #737f94;
$n200: #7f8a9d;
$n100: #8b95a6;
$n90: #969fae;
$n80: #a2aab7;
$n70: #c9d7ee;
$n60: #eaedf3;

/*#endregion mid-neutrals*/

/*#region light-neutrals*/

$n60: #b9bfc9;
$n50: #c4c9d2;
$n40: #d0d4db;
$n30: #dcdfe4;
$n20: #e8eaed;
$n10: #f3f4f5;

/*#endregion light-neutrals*/

/*#endregion neutrals*/

/*#region red*/

$r500: #cc3848;
$r400: #e53e50;
$r300: #ff465a;
$r200: #ff586a;
$r100: #ff6b7b;
$r70: #ff909c;
$r50: #ffbec5;

/*#endregion red*/

/*#region yellow*/

$y500: #cc9d00;
$y400: #e5b000;
$y300: #ffc500;
$y200: #ffca1a;
$y100: #ffd033;
$y70: #ffdc66;
$y50: #ffeaa6;

/*#endregion yellow*/

/*#region green*/

$g500: #2b8f64;
$g400: #30a071;
$g300: #36b37e;
$g200: #4aba8b;
$g100: #5ec297;
$g70: #86d1b1;
$g50: #b8e4d1;

/*#endregion green*/

/*#region blues*/

$b500: #004980;
$b400: #005ca1;
$b200: #1a6caa;
$b100: #337cb3;
$b70: #669dc6;
$b50: #a6c6de;
$b25: #f6f9fd;

/*#endregion blues*/

/*#region teals*/

$t500: #007691;
$t400: #0084a3;
$t300: #0094b6;
$t200: #1a9ebd;
$t100: #33a9c4;
$t70: #66bed3;
$t50: #a6d9e5;

/*#endregion teals*/

/*#region purple*/

$p500: #9350a5;
$p400: #a55ab9;
$p300: #b865cf;
$p200: #bf74d3;
$p100: #c683d8;
$p70: #d4a2e2;
$p50: #e6c9ee;

/*#endregion purple*/

$d0: #ffffff;
$grey75: #4f607c;
$grey50: #7b8ca7;
$hoverliBackground: #f9fafa;
$overlay: rgba(19, 24, 32, 0.6);

$blue-tint-75: rgba(236, 242, 254, 0.75);
$dropdown-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
$d0-5: rgba(255, 255, 255, 0.05);

$base: #fbfbfb;
$neutral-message-color: #0068ad;
$warning-message-color: #d3a600;
$positive-message-color: #39bc89;
$disabled-button-border-color: #d8dce6;
